<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/fragments.css}">

    <link rel="stylesheet" th:href="@{/css/cadastro-produto.css}">
    
    <title>Cadastrar Produto</title>
</head>

<body>
    <div th:replace="~{fragments/fragments :: barra-lateral}"></div>
    <div class="main">

    <div th:replace="~{fragments/fragments :: cabecalho}"></div>

        <section class="geral">
            <h1 class="titulo">Cadastrar Produto</h1>
            <section class="conteudos">

                <div class="conteudo">
                    <h2 class="sub-titulo">Novo Produto</h2>
           

                    <div th:if="${sucesso}">
                         <div th:if="${sucesso}" id="alert-sucesso" class="alert-sucesso">
                        <span th:text="${sucesso}"></span>
                        </div>
                    </div>
                    

                    <form th:action="@{/produtos/cadastrar}" method="post" th:object="${produto}">
                        <input th:field="*{id}" hidden>

                        <div class="linha">
                            <div class="bloco-nome">
                                <label for="nome" class="form-label">Nome</label>
                                <input id="nome" type="text" class="form-control" th:field="*{nome}"
                                    placeholder="Digite o nome do produto: " required>
                            </div>
                            <div class="bloco-preco">
                                <label for="preco" class="form-label">Preço</label>
                                <input id="preco" type="text" class="form-control" th:field="*{valor}"
                                    placeholder="R$: " required>
                            </div>
                        </div>

                        <div class="linha">

                            <div class="bloco-descricao">
                                <label for="descricao" class="form-label">Descrição</label>
                                <input id="descricao" class="form-control" th:field="*{descricao}"
                                    placeholder="Digite a descrição para o produto: " required>
                            </div>

                            <div class="bloco-estoque">
                                <label for="estoque" class="form-label">Estoque Mínimo</label>
                                <input id="estoque" type="number" class="form-control"
                                    th:field="*{quantidadeMinimaEstoque}"
                                    placeholder="Digite o estoque mínimo do produto: "
                                    required>
                            </div>


                            
                        </div>

                        <div class="bloco-botoes">
                            <button type="reset" class="btn-cancelar">Cancelar</button>
                            <button id="btn-salvar" type="submit" class="btn-salvar">Cadastrar Produto</button>
                        </div>
                    </form>
                </div>
            </section>
        </section>
        <script th:src="@{/js/cadastro-produto.js}"></script>
        <script th:src="@{/js/home.js}"></script>
</body>

</html>