<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Funcionario</title>
    <link rel="stylesheet" th:href="@{/css/cadastro.css}">
</head>

<body>
<!-- Topbar -->
<header class="topbar">
    <div class="logo-container">
        <h2 class="logo">Sistema de ERP</h2>
    </div>
    <div class="user">
        <span th:text="${usuario.usuario.nome}"></span>
        <img src="https://i.pravatar.cc/40" alt="avatar">
    </div>
</header>

<div class="alert-container">

    <div th:if="${sucesso}" class="alert alert-sucesso">
        <span th:text="${sucesso}"></span>
    </div>

    <div th:if="${erro}" class="alert alert-erro">
        <span th:text="${erro}"></span>
    </div>

</div>

<div class="cadastro-container">
    <form th:action="@{/funcionarios/cadastrar}" method="post" th:object="${usuario}" id="formProduto">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}" />

        <div class="fundo">
            <h2>Insira os dados do colaborador</h2>
            <div class="dados">

                <div class="input-group">
                    <label>Nome</label>
                    <input type="text" name="nome" placeholder="Digite o nome do colaborador" required>
                </div>

                <div class="input-group">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Digite o email" required>
                </div>

                <div class="input-group">
                    <label>Senha</label>
                    <input type="password" name="senha" placeholder="Digite a senha" required>
                </div>

                <div class="input-group">
                    <label>Cargo</label>
                    <select name="cargo">
                        <option value="CAIXA">Caixa</option>
                        <option value="ESTOQUISTA">Estoquista</option>
                        <option value="ADMIN">Admin</option>
                    </select>
                </div>

                <button class="cadastro" type="submit">Cadastrar</button>
                <button class="cancelar">Cancelar</button>
                <button class="apagar" type="reset" title="Limpar formulário">
                    <img src="img/borracha.png" alt="Limpar" class="icone-borracha">
                </button>
            </div>
        </form>
</div>

</div>
</body>

</html>